    <header class="navbar navbar-fixed-top navbar-default" role="navigation">
      <div class="navbar-inner">
        <div class="container">
        <div class="row-fluid">
          <div class="navbar-header pull-right">
              <a><%= link_to "Home",    root_path %></a>
              <a><%= link_to "Authors",    authors_path %></a>
              <a><%= link_to "Books", books_path %></a>
          </div>
        </div>
      </div>
    </div>
    
    </header>